<h3>{{title}}</h3>
<ul>
    <li *ngFor="let course of courses">
        {{course}}
    </li>
</ul>

<!-- <img [src]="imageUrl" alt="">

<table>
    <tr>
        <td [attr.colspan]="colspan">Data</td>
    </tr>
</table>

<div (click)="onDivClicked()">
    <button class="btn btn-primary"
    [style.backgroudColor]="isActive ? 'red' : 'blue'"
    (click)="onSave($event)"
    >Submit</button>
</div>


<hr>
<input (keyup.enter)="onKeyUp($event)"/>

<input type="text" #email (keyup.enter)="emailUp(email.value)"> 
<br>
<label>Two way binding!</label>
<input type="text"  [(ngModel)] ="name" (keyup.enter)="onKeyUpPress()" > -->